.hots-draft-ban .card-img-top {
  background-color: black;
}

.hots-draft-ban .card-img-top img {
  height: 48px;
  min-width: 80px;
}

.hots-draft-ban .hots-draft-ban-hero-none {
  display: inline-block;
  min-height: 58px;
  min-width: 110px;
  font-size: 28px;
  text-align: center;
  background: #000000;
}

.hots-draft-player {
  min-width: 92px;
}

.hots-draft-player .card-img-top {
  height: 64px;
}

.hots-draft-player .hots-draft-player-hero-none {
  display: inline-block;
  min-height: 58px;
  font-size: 28px;
  text-align: center;
  background: #000000;
  width: 100%;
}

.provider-heroescounters .heroescounters-hero {
  height: 80px;
  width: 80px;
  position: relative;
}

.provider-heroescounters .heroescounters-hero .heroescounters-sort-value {
  position: absolute;
  bottom: 2px;
  right: 0px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.provider-hotsdraft .bonus {
  color: #28a745;
}

.provider-hotsdraft .malus {
  color: #dc3545;
}

.provider-hotsdraft .hero {
  font-weight: bold;
}

.provider-hotsdraft .notes {
  font-size: 13px;
  line-height: 14px;
}