{% extends "core::frame.twig" %}
{% block content %}
    <div class="hots-talent-helper" data-template="@forsaken87-gaming-buddy-blizz-hots::elements/talents.twig">
      {% include "@forsaken87-gaming-buddy-blizz-hots::elements/talents.twig" %}
    </div>
    <link rel="stylesheet" href="{{ plugin.getFilePath("gui", "talents.css") }}">
{% endblock %}